/*.letra {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s linear ;
  animation-fill-mode: forwards;
  color: rgb(217, 78, 79);
  fill: rgba(255, 255, 255, 0);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
	 fill:rgb(217, 78, 79);
  }
}
.letra-blanca {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash-w 1.5s linear ;
  animation-fill-mode: forwards;
  color: rgb(217, 78, 79);
  fill: rgba(255, 255, 255, 0);
}
*/
@keyframes dash-w {
  0% {
	  stroke-dashoffset: 300;
  }
  50% {
  	  stroke-dashoffset: 150;
  }
  100%{
  	  stroke-dashoffset: 0;
  	  fill: white;
  }
}
.svg-icon {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: icons 4s linear ;
  animation-fill-mode: forwards;

}

@keyframes icons {
  to {
    stroke-dashoffset: 0;

  }
}

#top-lines{
  stroke-dasharray: 190;
  stroke-dashoffset: 200;
  animation-delay: 2s;
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation: lines 2s linear ;
  animation-fill-mode: forwards;
  color: rgb(217, 78, 79);
  fill: rgba(255, 255, 255, 0);
}

@keyframes lines {
  to {
    stroke-dashoffset: 0;
  fill:rgb(217, 78, 79);
  }
}

.star{
  stroke-dasharray: 190;
  stroke-dashoffset: 200;
  animation: star 3s linear ;
  animation-fill-mode: forwards;
  color: rgb(217, 78, 79);
  fill: rgba(255, 255, 255, 0);
}
@keyframes star {
  to {
    stroke-dashoffset: 0;
  fill:white;
  }
}